body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  text-align: center;
  color: #222;
}

li {
  font-size: 25px;
  text-align: center;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  color: #444;
}

img {
  height: 400px;
  width: 650px;
  padding: 20px;
}

h2 {
  color: #333;
  margin-top: 30px;
}
footer{
    background-color: grey;
    
}
h3{
    text-align: center;
}
